{#
/**
 * Multiple Short Text Textarea - DSFR Theme
 * Balanced 50/50 layout
 */
#}

<!-- answer_row_textarea -->
<li id="javatbd{{ myfname }}" class="question-item answer-item text-item mb-3 row {% if alert %} ls-error-mandatory has-error{% endif %}{{ extraclass }}" {{ sDisplayStyle }}>
    <label class="control-label fr-label col-12 col-md-6" for="answer{{ myfname }}">
        {{ processString(question) }}
    </label>
    <div class="col-12 col-md-6">
        <textarea class="form-control" name="{{ myfname }}" id="answer{{ myfname }}" rows="{{ drows }}" placeholder="{{ flatString(processString(placeholder,1),1) }}"></textarea>
    </div>
</li>
<!-- end of answer_row_textarea -->
