{#
    LimeSurvey - DSFR Theme
    Stepper DSFR officiel

    Structure conforme : https://www.systeme-de-design.gouv.fr/composants-et-modeles/composants/indicateur-d-etapes/
#}
{% if aSurveyInfo.showprogress == 'Y' and aSurveyInfo.format != 'A' and not aSurveyInfo.aCompleted %}
    <!-- DSFR Stepper -->
    <div class="fr-container fr-my-4w">
        {% set totalGroups = aSurveyInfo.aGroups ? aSurveyInfo.aGroups|length : (aSurveyInfo.totalsteps ? aSurveyInfo.totalsteps : 1) %}
        {% set currentGroup = aSurveyInfo.step ? aSurveyInfo.step : 1 %}
        {% set nextGroup = currentGroup + 1 %}

        <div class="fr-stepper">
            <h2 class="fr-stepper__title">
                {% if aSurveyInfo.groupname %}
                    {{ aSurveyInfo.groupname }}
                {% else %}
                    {{ sprintf(gT('Step %s'), currentGroup) }}
                {% endif %}
                <span class="fr-stepper__state">{{ sprintf(gT('Step %s of %s'), currentGroup, totalGroups) }}</span>
            </h2>
            <div class="fr-stepper__steps"
                 data-fr-current-step="{{ currentGroup }}"
                 data-fr-steps="{{ totalGroups }}"
                 aria-hidden="true">
            </div>
            {% if nextGroup <= totalGroups and aSurveyInfo.aGroups and aSurveyInfo.aGroups[nextGroup] %}
                <p class="fr-stepper__details">
                    <span class="fr-text--bold">{{ gT("Next step:") }}</span>
                    {{ aSurveyInfo.aGroups[nextGroup].group_name ? aSurveyInfo.aGroups[nextGroup].group_name : sprintf(gT('Step %s'), nextGroup) }}
                </p>
            {% endif %}
        </div>
    </div>
{% endif %}
