{#
/**
 * 5-Point Choice Row - DSFR Theme
 * Single radio button for 1-5 scale
 */
#}

<!-- item_row -->
<div class="fr-col-auto">
    <div class="fr-radio-group {{itemExtraClass}}">
        <input type="radio" name="{{name}}" id="answer{{id}}" value="{{value}}" {{checkedState}}>
        <label class="fr-label" for="answer{{id}}">{{labelText}}</label>
    </div>
</div>
<!-- end of item_row -->
